footer{
    a:hover{
        color: $color-primario !important; 
    }
    h5{
        border-bottom: 1px solid $color-secundario;
        padding-bottom: 5px;
    }
    span{
        color:$color-primario;
    }
    small{
        color: $color-secundario;
        font-size: x-small;
    }
}