

.section__servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: $color-primario;
  }

  h2 {
    color: $color-secundario;
  }

  p,
  h1,
  h2 {
    width: 60%;
    padding: 10px;
  }

  .logo_eset {
    width: 150px;
    padding: 10px;
    height: 50px;
  }

  .logo_eset_gold {
    width: 150px;
    padding: 10px;
    height: 50px;
  }

  * {
    margin: 5px;
  }
}
