
.main__index{
    height: auto;
}

.section__servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        color: $color-primario;
    }

    h3{
        color: $color-secundario;
    }

    p,h2,h3{
        width: 60%;
        padding: 10px;
    }

    .logo_eset{
        width: auto;
        padding: 10px;
        height: 50px;
    }


    *{
        margin: 5px;
    }
}